{% extends "mal.html" %}

{% block main %}

<h1>Bergen</h1>

<div class="systematisering">
    <p>Tempertaur</p>
    <p>{{temperatur}} grader</p>
    <p>Været</p>
    <p><img src="{{type_vaer}}" alt=""></p>
</div>
<h3>Om 3 timer</h3>
<div class="systematisering">
    <p>Temperatur</p>
    <p>{{temperatur_om_3_timer}} grader</p>
    <p>Været</p>
    <p><img src="{{type_vaer_om_3_timer}}" alt=""></p>
</div>
<h3>Om 6 timer</h3>
<div class="systematisering">
    <p>Temperatur</p>
    <p>{{temperatur_om_6_timer}} grader</p>
    <p>Været</p>
    <p><img src="{{type_vaer_om_6_timer}}" alt=""></p>
</div>
<h3>Om 9 timer</h3>
<div class="systematisering">
    <p>Temperatur</p>
    <p>{{temperatur_om_9_timer}} grader</p>
    <p>Været</p>
    <p><img src="{{type_vaer_om_9_timer}}" alt=""></p>
</div>
<h3>Om 12 timer</h3>
<div class="systematisering">
    <p>Temperatur</p>
    <p>{{temperatur_om_12_timer}} grader</p>
    <p>Været</p>
    <p><img src="{{type_vaer_om_12_timer}}" alt=""></p>
</div>

{%endblock%}