<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YR.no</title>
    <link rel="stylesheet" href='{{url_for("static", filename="style.nav.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/"><img id="logo" src='{{url_for("static", filename="YR.png")}}' alt=""></a>
            <a href="/bergen">Bergen</a>
            <a href="/kristiansand">Kristiansand</a>
            <a href="/oslo">Oslo</a>
            <a href="/sandvika">Sandvika</a>
            <a href="/tromsø">Tromsø</a>
        </nav>
    </header>

    <main>
        {% block main %}
        
        {% endblock %}
    </main>

    <footer>
        <div id="footer">
            <div id="venstre">
                <h3>Yr er en tjeneste fra</h3>
                <div>
                    <img src="static/NRKlogo.svg" alt="">
                    <img src="static/Meteorologisk_institutt.svg" alt="">
                </div>
                <p id="lenger_ned">Redaktør: Ingrid Støver Jensen</p>
                <p>Ansvarlig redaktør: Vibeke Fürst Haugen</p>
                <p>Meteorologisk ansvarlig: Roar Skålin</p>
                <p id="lenger_ned2">Opphavsrett © NRK og Meteorologisk institutt 2007-2023</p>
            </div>
            <div id="høyre">
                <div>
                    <h2>Om Yr</h2>
                    <p><a class="a-footer" href="https://info.nrk.no/personvernerklaering/">Personvern</a></p>
                    </p><a class="a-footer" href="https://info.nrk.no/informasjonskapsler/">Informasjonskapsler</a></p>
                    </p><a class="a-footer" href="Sammarbeidspartnere">Sammarbeidspartnere</a></p>
                </div>
                <div>
                    <h2>Yr på sosiale medier</h2>
                    </p><a class="a-footer" href="https://www.facebook.com/Yr-22652235447/">Yr på facebook</a></p>
                    </p><a class="a-footer" href="https://twitter.com/Meteorologene">Yr på twitter</a></p>
                    </p><a class="a-footer" href="https://www.instagram.com/yrbilder/">Yr på instagram</a></p>
                </div>
                <div>
                    <h2>Apper</h2>
                    </p><a class="a-footer" href="https://apps.apple.com/jo/app/yr-no/id490989206">App for IOS</a></p>
                    </p><a class="a-footer" href="https://play.google.com/store/apps/details?id=no.nrk.yr&hl=no&pli=1">App for Android</a></p>
                </div>
                <div>
                    <h2>Andre tjenester</h2>
                    </p><a class="a-footer" href="https://developer.yr.no/">Yr for utviklere</a></p>
                    </p><a class="a-footer" href="https://badetemperaturer.yr.no/">Badetemperaturer</a></p>
                </div>
            <div>
        </div>
    </footer>
    



</body>
</html>
